.special-text-container {
  display: grid;
  grid-template-columns: max-content auto;
}

.special-text {
  border-radius: 20px;
  width: max-content;
  padding-left: 10px;
  padding-right: 10px;
}

.icon {
  aspect-ratio: 1 / 1;
  height: 100%;
}

.clip-text {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  background-size: cover;

  // background-size: 1920 1080px;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-position: center top;
}
